<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
        <h2>Create New License</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <form
        (ngSubmit)="onSubmit(f)"
        #f="ngForm">

        <mat-form-field class="w-100" *ngIf="licenseTypes">
          <mat-select required
            id="select-license-type"
            name="licenseType"
            placeholder="License Type"
            [(ngModel)]="license.type.id"
            (selectionChange)="onLicenseTypeChange($event.value)"
            #ltSelect="ngModel">
            <mat-option
              *ngFor="let lt of licenseTypes"
              [value]="lt.id">
              {{ lt.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="period-container">
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="w-100">
                <input matInput
                  placeholder="Start Date - End Date"
                  required
                  [satDatepicker]="picker"
                  [value]="date"
                  disabled
                  (dateChange)="onDateChange($event)"
                  [min]="minDate">
                <sat-datepicker #picker [rangeMode]="true" disabled="false">
                </sat-datepicker>
                <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="w-100">
                <input
                  matInput
                  type="number"
                  id="type"
                  [(ngModel)]="license.period"
                  name="period"
                  placeholder="Period"
                  required
                  #period="ngModel"
                  (change)="onPeriodChange($event.target.value)">
              </mat-form-field>
            </div>
          </div>
        </div>

        <mat-form-field class="w-100">
          <textarea
            matInput
            matTextareaAutosize
            matAutosizeMinRows="2"
            type="text"
            id="input-k1"
            [(ngModel)]="license.k1"
            name="k1"
            placeholder="Generated key"
            required
          ></textarea>
        </mat-form-field>

        <div class="form-row">
          <div class="p-2">
            <button
              mat-raised-button color="primary"
              type="submit"
              [disabled]="!f.valid">Generate License</button>
          </div>
          <div class="p-2">
            <button
              mat-raised-button
              type="button"
              [routerLink]="['..']">
              Cancel</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>