<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <h2>Welcome, {{ user.firstName }} {{ user.lastName }}!</h2>
        </div>
    </div>
    <br>
    <div *ngIf="todayLicenses.length == 0"> 
            <h2> No licenses expiring today! </h2>
    </div>    
    <div class="responsive-table" *ngIf="todayLicenses.length > 0">
        <div class="col-12">
            <h4>Licenses expiring today:</h4>
            <app-licenses-table [licenses]="todayLicenses"></app-licenses-table>
        </div>
    </div>
    <br>
    <div class="responsive-table" *ngIf="weekLicenses.length > 0">
        <div class="col-12">
            <h4>Licenses expiring this week:</h4>
            <app-licenses-table  [licenses]="weekLicenses"></app-licenses-table>
        </div>
    </div>
    <br>
    <div class="responsive-table" *ngIf="monthLicenses.length > 0">
        <div class="col-12">
            <h4>Licenses expiring this month:</h4>
            <app-licenses-table  [licenses]="monthLicenses"></app-licenses-table>
        </div>
    </div>
</div>