<div class="container-fluid"
  *ngIf="licenseEntity">
  <div class="row">
    <div class="col-xl-12">
      <h2 *ngIf="(licenseEntity.end | untilNow) == 'Expired'">
        <span matBadge="Expired"
          class="mat-badge-full"
          matBadgeColor="warn"
          matBadgeOverlap="false">License</span>
      </h2>
      <h2 *ngIf="(licenseEntity.end | untilNow) != 'Expired'">License</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <form
        (ngSubmit)="onSubmit(f)"
        #f="ngForm">
        <mat-form-field class="w-100">
          <mat-select required
            name="type"
            placeholder="License Type"
            [(ngModel)]="licenseEntity.type.id"
            (selectionChange)="onLicenseTypeChange($event.value)"
            #ltSelect="ngModel">
            <mat-option *ngFor="let lt of licenseTypes"
              [value]="lt.id">
              {{ lt.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="w-100">
              <input matInput
                placeholder="Start Date - End Date"
                required
                [satDatepicker]="picker"
                [value]="date"
                disabled
                (dateChange)="onDateChange($event)">
              <sat-datepicker #picker [rangeMode]="true" disabled="false">
              </sat-datepicker>
              <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field class="w-100">
              <input
                matInput
                type="number"
                id="type"
                [(ngModel)]="licenseEntity.period"
                name="period"
                placeholder="Period"
                required
                #period="ngModel"
                (change)="onPeriodChange($event.target.value)">
            </mat-form-field>
          </div>
        </div>

        <mat-form-field class="w-100">
          <textarea
            matInput
            matTextareaAutosize
            matAutosizeMinRows="5"
            type="text"
            id="type"
            [(ngModel)]="licenseEntity.k1"
            name="k1"
            placeholder="Generated Key"
            readonly
            #k1="ngModel"
          ></textarea>
        </mat-form-field>

        <mat-form-field class="w-100">
          <textarea
            matInput
            matTextareaAutosize
            matAutosizeMinRows="5"
            type="text"
            id="type"
            [(ngModel)]="licenseEntity.k2"
            name="k2"
            placeholder="Validation Key"
            #k2="ngModel"
            readonly
          ></textarea>
        </mat-form-field>

        <div class="form-row">
          <div class="p-2">
            <button 
              type="submit"
              mat-raised-button color="primary"
              [disabled]="!f.valid">
              Save
            </button>
          </div>
          <div class="p-2">
            <button
              mat-raised-button
              type="button"
              [routerLink]="['/clients', licenseEntity.clientId.id, 'licenses']">
              Cancel</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>