<div class="container-fluid" *ngIf="licenses">
  <div class="row responsive-table">
    <div class="col-12">
      <mat-table [dataSource]="licenses" matSort>
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nr. </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.position }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="start">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Start </mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.start | date }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="end">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Expire </mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.end | date }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.type.description }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="expires">
            <mat-header-cell *matHeaderCellDef> Expires in </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-button color="{{(row.end | untilNow) == 'Expired' ? 'warn' : ''}}">
                {{ row.end | untilNow }}
              </button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="client">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Client</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.clientId.firstName }} {{ row.clientId.lastName }}</mat-cell>
          </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>