<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
        <h2>Create New License Type</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <form
        (ngSubmit)="onSubmit(f)"
        #f="ngForm">
        <mat-form-field class="w-100">
          <input required
            matInput
            type="text"
            id="input-description"
            name="description"
            [(ngModel)]="licenseType.description"
            placeholder="Description"
            #description="ngModel">
          <mat-error
            *ngIf="description.touched && !description.valid">
            Description field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <input required
            matInput
            type="number"
            id="input-periodDays"
            name="periodDays"
            [(ngModel)]="licenseType.periodDays"
            placeholder="Period"
            #periodDays="ngModel">
          <mat-error
            *ngIf="periodDays.touched && !periodDays.valid">
            Period field is required
          </mat-error>
        </mat-form-field>

        <div class="form-row">
          <div class="p-2">
            <button
              mat-raised-button color="primary"
              type="submit"
              [disabled]="!f.valid">Generate License Type</button>
          </div>
          <div class="p-2">
            <button
              mat-raised-button
              type="button"
              [routerLink]="['..']">
              Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>