<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <h2 *ngIf="salesmanEntity">{{ salesmanEntity.firstName }} {{ salesmanEntity.lastName }}'s clients</h2>
      <h2 *ngIf="!salesmanEntity">Clients</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <a
        mat-raised-button color="primary"
        [routerLink]="['create']"
        *ngIf="isAdmin">
        Add Client</a>
      <a
        mat-raised-button color="primary"
        [routerLink]="['/clients', 'create']"
        *ngIf="!isAdmin">
        Add Client</a>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-12">
      <mat-form-field class="w-100">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
    </div>
  </div>
  
  <div class="row responsive-table">
    <div class="col-12">
      <mat-table [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nr. </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.position}} </mat-cell>
        </ng-container>
  
        <!-- Client Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Client </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.firstName}} {{row.lastName}} </mat-cell>
        </ng-container>
  
        <!-- Company Column -->
        <ng-container matColumnDef="company">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Company </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.company}} </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="j-c-c"> Actions </mat-header-cell>
          <mat-cell *matCellDef="let row" class="j-c-c">
            <div class="button-row">
              <a [routerLink]="['/clients', row.id, 'licenses']"
                mat-raised-button
                color="accent"
                class="mr-1 mb-1 mt-1">
                <i class="fa fa-list-ul"></i>
              </a>
              <a [routerLink]="[row.id, 'edit']"
                mat-raised-button color="primary"
                class="mr-1 mb-1 mt-1">
                <i class="fa fa-pencil"></i>
              </a>
              <app-modal-confirmation
                [modalConfirmationText]="'Do you really want to delete this client? This process cannot be undone!'"
                (modalAction)="deleteClient(row.id)"></app-modal-confirmation>
            </div>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
